.gameinfotext{
  padding: 40px;
  text-align: center;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 40px;
  color: maroon;
}


.button{
  background-color: maroon;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttondiv{
  text-align: center;
  padding: 20px;
}



body {
  background-color: lightgreen;
}
